body {
    font-size: 3em;
    text-align: center;
}

h1 {
    font-size: 4em;
    margin: 0;
}

form {
    margin: 0.25em;
}

form textarea {
    width: 200px;
    height: 250px;
}

#play-area {
    text-align: inherit;
    display: none;
    justify-items: center;
}

p {
    margin: 0.5em;
    height: fit-content;
    width: fit-content;
}

.btn {
    padding: 0.25em;
    border: 1px solid black;
    border-radius: 22px;
}

span {
    margin: 0 0.15em;
    border: 1px solid black;
}
